In [49]:
import pandas as ps
import seaborn as sns
import matplotlib.pyplot as pit
data = pd.read_csv("C:/Users/Student/OneDrive/New folder/dataset/tvmarketing.csv")
data.head()

   Advertisments  Sales
0          230.1   22.1
1           44.5   10.4
2           17.2    9.3
3          151.5   18.5
4          180.8   12.9

In [3]:

x = data.Advertisments
y= data.Sales
pit.scatter(x,y)
sns.heatmap(data.corr(),annot=True)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
x_train,x_test,y_train,y_test = train_test_split(data[['Advertisments']], data['Sales'],test_size=0.3,random_state=100)
linearRegr =LinearRegression()
linearRegr.fit(x_train,y_train)
y_pred=linearRegr.predict(x_test)

NameError: name 'data' is not defined